#Random Device for debugging without real hardware
#DEVICE!R!dummy
#PORT!I!  1! $00!R
#PORT!I!  2! $01!R

#BMCM USB AD
#DEVICE!B!usb-ad:::: 
#PORT!I!  2! $00!B

BMCM USB PIO
DEVICE!B!usb-pio::$ffffffff:$ffffffff:$ffffffff
PORT!I!  1! $00!B
PORT!I!  3! $01!B
PORT!I!  4! $02!B

