#Random Device for debugging without real hardware
#DEVICE R dummy
#PORT I   1  $00 R
#PORT I   2  $01 R


#BMCM USB PIO
#DEVICE B usb-pio:/dev/ttyACM0:$ffffffff:$ffffffff:$00000000: 
#PORT I   1    0 B
#PORT I   2    1 B
#PORT O   1    2 B

# BMCM USB AD
#DEVICE B usb-ad:/dev/ttyACM1:::: 
#PORT I   2   10 B

# DeviceServer Connection
#DEVICE H http://sirius:10080/digital/ReadInputValues.html?§http://sirius:10080/digital/WriteOutputValues.html?
#PORT I 1 11 H
#PORT O 1 11 H

# HTTP Access to eg device server to read Temperature from digitemp
# the adress is a parameter to the URL an may be used to address values
# it is appended to the end of the URL
#DEVICE H http://sirius:10080/analog/read.html?§http://sirius:10080/analog/write.html?
# the third parameter to PORT has the following meaning:
# first digit = address DEVICE
# second digit = iogroup ( which of the 8 value analog blocks )
# third digit = which value in the block of 8 values
#PORT A 1 211 H
#PORT A 2 212 H


# IO Warrior 24/40
#DEVICE I dummy
#PORT I 1 $10 I
#PORT I 2 $11 I
#PORT O 1 $12 I
#PORT O 2 $13 I


# IO Warrior 40 Testboard
#DEVICE I dummy
#PORT O 1 $10 I
#PORT I 2 $11 I
#PORT I 1 $12 I
#PORT O 2 $13 I


# IO Warrior 24 Testoard
#DEVICE I dummy
#PORT I 1 $10 I
#PORT O 1 $11 I


# Joystick 
# der erste Joystick ist ioport=10
# der zweite Joystick ist ioport=20
# der dritte Joystick ist ioport=30
# der vierte Joystick ist ioport=40
# die zweite Stelle gibt bei
# analogen Ports die gewünschte Achse an ( 0-3 )
# bei den digitalen Inputs wird sie ignoriert
#DEVICE J /dev/input/js0
#PORT I   1   $11 J
#PORT A   1   $10 J	
#PORT A   2   $11 J	
#PORT A   3   $12 J	
#PORT A   4   $13 J	

#LPT1 bei IBM 600x hex3BC
#DEVICE L dummy
#PORT I 1 $3bd  L
#PORT O 1 $3bc  L


# external programm
#DEVICE E ./digitemp.sh:
#PORT A 1 11  E
#PORT A 2 12  E
#PORT A 3 13  E
#PORT A 4 14  E


DEVICE I dummy
PORT O 1 $10 I
PORT I 1 $11 I
PORT O 2 $12 I
PORT O 3 $13 I
