
# DeviceServer Connection Traffic Light
DEVICE H http://127.0.0.1:10080/digital/ReadInputValues.html?§http://127.0.0.1:10080/digital/WriteOutputValues.html?
PORT I 1 14 H
PORT I 2 14 H
PORT O 1 14 H
PORT O 2 14 H
PORT O 3 14 H
PORT O 4 14 H
PORT O 5 14 H
PORT O 6 14 H
PORT O 7 14 H
PORT O 8 14 H



# here comes the config data for sps which was in sps.cfg
# all values are for the printing
# v = value for Linefeed
# g = value to switch on Capital letters
# l = number of lines per page
# f = value for formfeed
v10
g14
l60
f12
